<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
</head>

<body>
    <div style="background-color: #E3F2FD; font-family: sans-serif; padding: 1.9rem 5%;">
        <div style="background-color: #FFF; padding: 0.4rem 2% 1rem 2%;">
            <h1 style="color: #3A80F8; font-size: 2rem; text-align: center;">SereneU</h1>
            <div style="padding-top: 0.5rem; padding-bottom: 0.5rem;">
                <p style="color: #000; font-size: 1rem; font-family: sans-serif;">Hi Raju,</p>
                <p style="color: #000; font-size: 1rem; font-family: sans-serif; line-height: 1.6rem;">Reminder for joining meeting that will be started soon.</p>
                <p style="color: #000; font-size: 1rem; font-family: sans-serif; margin-top: 2rem;">A meeting with your collegues.</p>
            </div>
            <div>
                <p style="font-size: 1rem; margin-bottom: 0.5rem;">Sincerely,</p>
                <p style="font-size: 1rem; margin-top: 0;">The SereneU Team</p>
            </div>
        </div>
    </div>
</body>

</html>